.App {
  text-align: center;

}
.center{
  
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.cardProfile {
  justify-content: end;
width: 50%;
height: 60vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container{
  background-image: url(./Back.png);
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.body {
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
